{% extends 'base.html' %} {% block content %}
<div id="wrapper">
  <nav class="nav-header">

    <ul class="header-list">
      <li>
        <a href="/" class="header-item">Maintenance Control 360</p>
      </li>
      <li>
        <a href="/" class="active">Home</a>
      </li>
      <li>
        <a href="/projects" class="header-item">Gallery</a>
      </li>
      <li>
        <a href="/testimonials" class="header-item">Testimonials</a>
      </li>
      <li>
        <a href="/contact" class="header-item">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <p>Hello friends! My name is Donny. As a veteran of the United States Navy, nothing has shaped me more than the lessons taught during my tenure in the military.<br>Honor, courage, commitment are the cornerstones of the Navy, and as such, became the cornerstones to how I operate as an individual and a business owner.<br>
    I am a Pacific Northwest man through and through and love nothing more than providing my services to the great people of the Oregon and Washington state areas.</p>
    <p>Here at Maintenance Control 360, LLC. we focus on integrity, honesty, transparency and accuracy to ensure jobs get completed on time and right.</p>
  </div>
  {% include 'footer.html' %}
</div>
{% endblock %}